<!DOCTYPE html>
<html>
<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  

  <link href="https://fonts.googleapis.com/css?family=Damion" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,600,700" rel="stylesheet">
  <link rel="icon" href="mar_social_med\main_icon.jpg" type="image/png">
  <link href = "./resources/css/reset.css" rel = "stylesheet">
  <link rel="stylesheet" href="./resources/css/style.css">
  <title>Hotel nexa ( Contact US ) </title>
</head>
<body>


  <!-- Header -->
  <header>
    <div class="content">
      <a href="Nexa\index.html" id = "main" class="desktop logo">Hotel nexa</a>
      <nav class="desktop">
        <ul>
          <li><a href="Nexa\index.html">Home</a></li>
          <li><a href="About.html">About Us</a></li>
          <li><a href="accomodation.html">Accomodation</a></li>
          <li><a href="Nexa\gallery.html">Gallery</a></li>
          <li id = "main_id"><a href="#">Contact</a></li>
          <li></li>
        </ul>
      </nav>
      <nav class="mobile">
        <ul>
          <li><a href="Nexa\index.html">Home</a></li>
          <li><a href="About.html">About Us</a></li>
          <li><a href="accomodation.html">Accomodation</a></li>
          <li><a href = "Nexa\gallery.html">Gallery</a></li>
          <li id = "main_id"><a href="#">Contact</a></li> 
        </ul>
      </nav>
    </div>
  </header>
  <br><br><br><br><br><br>
  
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    body {
      font-family: Arial, Helvetica, sans-serif;
    }
    
    * {
      box-sizing: border-box;
    }
    
    input[type=text], select, textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
    }
    
    input[type=submit] {
      background-color: #4CAF50;
      color: white;
      padding: 12px 20px;
      border: none;
      cursor: pointer;
    }
    
    input[type=submit]:hover {
      background-color: #45a049;
    }
    
    .container {
      border-radius: 5px;
      background-color: #4eaee6;
      padding: 10px;
    }
    
    .column {
      float: left;
      width: 50%;
      margin-top: 6px;
      padding: 20px;
    }
    
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    
    @media screen and (max-width: 600px) {
      .column, input[type=submit] {
        width: 100%;
        margin-top: 1;
      }
    }
    </style>
    </head>
    <body>
    
    <div class="container">
      <div style="text-align:center">
        <b><h1><b>Contact Us</b></h1></b>
        <br>
        <p>“We’re Looking Forward To Having You Again As Our Guest”</p>
      </div>
      <div class="row">
        <div class="column">
            <br>
          <img src="mar_social_med\167102395.jpg" width="550" height="520">
        </div>
        <div class="column">
          <form action="/action_page.php">
            <label for="fname">Full Name</label>
            <input type="text" id="fname" name="fullname" placeholder="Name">
            <label for="lname">Email Address</label>
            <input type="text" id="lname" name="email" placeholder="Email">
            <label for="fname">Subject</label>
            <input type="text" id="fname" name="name" placeholder="Subject">
            <label for="country">Country</label>
            <select id="country" name="country">
              <option> Select </option>
              <option value="india">INDIA</option>
              <option value="usa">USA</option>
              <option value="japan">JAPAN</option>
              <option value="china">CHINA</option>
              <option value="canada">Canada</option>
              <option value="other">OTHER...</option>
            </select>
            <label for="subject">Message</label>
            <textarea id="subject" name="subject" placeholder="Write something.." style="height:120px"></textarea>
            <button type="button" class="btn btn-success">Send Message</button>
          </form>
        </div>
      </div>
    </div>
     </body>
     <br>
<div class="container p-3 my-3 bg-dark text-white">
  <b><button type="button" class="btn btn-warning btn-block">CONTACT INFO...</button></b>
</div>

     
     <center><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4578.628795407126!2d74.78818062474527!3d13.01037340516397!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6b1144ac2d5dadf3!2sNational%20Institute%20of%20Technology%20Karnataka%20Surathkal.!5e0!3m2!1sen!2sin!4v1616349612676!5m2!1sen!2sin" width="1000" height="450" style="border:2px;" allowfullscreen="" loading="lazy"></iframe></center>
    

     <br>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body> 
 
<div class="container">
  <div class="card-columns">
    <div class="card bg-warning">
      <div class="card-body text-center">
        <center><img src="mar_social_med\download.png" style="width:10%"></center>
       <br> <p class="card-text">NH 66,Srinivas Nagar</p>
        <p class="card-text">Opposite Of Infosys Building</p>
        <p class="card-text">Hotel Nexa Bangalore, 580021</p>
      </div>
    </div>
    <div class="card bg-success">
      <div class="card-body text-center">
        <center><img src="mar_social_med\download (1).png" style="width:10%"></center>
        <br><br><p class="card-text">+91-0834-785412</p><br><br>
      </div>
    </div>
    <div class="card bg-danger">
      <div class="card-body text-center">
        <center><img src="mar_social_med\download (2).png" style="width:10%"></center>
        <br><br><p class="card-text">hotelnexa@gmail.com</p><br><br>
      </div>
    </div>  
  </div>
</div>

</body>
     <br>

  <footer>
    <h1 style = "color:rgb(255, 0, 0);font-size: 30px;font-weight: bold;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Follow Us</h1>
    <div class = "social_med">
    <a href = "#"><img src = "New folder\social_med\facebook.png"></a>
    <a href = "#"><img src = "New folder\social_med\Twiter.png"></a>
    <a href = "#"><img src = "New folder\social_med\instagram.png"></a>    
    <a href = "#"><img src = "New folder\social_med\youtube.png"></a>
    <a href = "#"><img src = "New folder\social_med\linkedin.png"></a>
    <a href = "#"><img src = "New folder\social_med\pinterest.png"></a>
   </div>
   <br><br>
    <div class="content">
      <span class="copyright">© 2021  Hotel nexa, All Rights Reserved</span>
      <span class="location">Designed in IND</span>
    </div>
  </footer>
  </body>
  <br>